In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./hcv-meta.tsv', sep='\t')

In [3]:
df.head()

,strain,Accession,source,country,division,location,date,original_annotated_subtype,original_annotated_genotype,clade_membership
0,HCV/P1/OP022902/UNITED-KINGDOM/2015,MZ171127,ictv,United Kingdom,?,?,2018-XX-XX,6xj,6,6.0
1,HCV/P2/OP022903/UNITED-KINGDOM/2018,MZ171134,ictv,United Kingdom,?,?,2018-XX-XX,6xj,6,6.0
2,HCV/P3/OP022904/UNITED-KINGDOM/2019,MZ504973,ictv,United Kingdom,?,?,2018-XX-XX,6xi,6,6.0
3,HCV/P4/OP022905/UNITED-KINGDOM/2019,MZ504976,ictv,United Kingdom,?,?,2019-XX-XX,6xi,6,6.0
4,HCV/P5/OP022906/UNITED-KINGDOM/2018,MW041294,ictv,United Kingdom,?,?,2004-XX-XX,2,2,2.0

In [4]:
df.fillna('?', inplace=True)

In [9]:
df['clade_membership'].replace({"1.0": "1", "2.0": "2", "3.0": "3", 
                                "4.0": "4", "5.0": "5", "6.0": "6", "7.0": "7", "8.0": "8"}, inplace=True)

In [10]:
pd.value_counts(df['clade_membership'], dropna=False)

1     1357
?      835
3      433
2      172
6,     114
4       48
5        8
8        4
7        4
Name: clade_membership, dtype: int64

In [7]:
df.to_csv('./hcv-meta.tsv', sep='\t', index=False)